body {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}


/*Container*/

.container {
    width: 80%;
    margin: auto;
}


/*Header*/

.header {
    display: inline-block;
}


/*Logo*/

.header__logo {
    font-family: 'PT Serif', serif;
    font-size: 24px;

    margin-right: 63%;
}


/*Nav*/

.header__nav {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
}


/*Main*/

.main{

}

.main__title {
    font-family: 'Pt Serif', serif;
    font-size: 50px;
}

.main__subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
}


/*Button*/

.btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
