body {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}


/*Container*/

.container {
    width: 80%;
    margin: auto;
}


/*Header*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;

}


/*Logo*/

.logo__circle {
    width: 28px;
    height: 28px;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.logo__circle_color_blue {
    top: 56%;
    left: 8px;

    background-color: #C8DBFB;
    border-radius: 50%;
    opacity: .7;
}

.logo__circle_color_dark-blue {
    border-radius: 50%;
    background-color: #0056EC;
    opacity: .7;

}

.header__logo {
    position: relative;

    padding: 40px 0 40px 44px;

    font-family: 'Pt-serif', serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
}


/*Nav*/

.header__nav {

}

.nav__link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    color: #000;

    margin-right: 25px;

    position: relative;

    transition: opacity .2s linear;
}

.nav__link:last-child {
    margin-right: 0;

}

.nav__link:after {
    display: block;
    content: '';

    width: 0;
    height: 3px;

    background-color: #0056EC;

    position: absolute;
    top: 100%;
    left: 0;

    transition: width .2s linear;
}

.nav__link:hover:after,
.nav__link_active:after {
    width: 100%;
}

/*==============Burger===============*/
#nav__toggle {
    display: none;
}

.burger__btn {
    display: none;
    align-items: center;
    position: fixed;  /*Обратить внимание на эту строку!!!*/

    top: 32px;
    right: 24px;

    width: 25px;
    height: 25px;

    cursor: pointer;
    z-index: 1;
}

.burger__btn > span,
.burger__btn > span::before,
.burger__btn > span::after {
    display: block;
    position: absolute;
    content: '';

    width: 100%;
    height: 3px;

    background-color: #0056EC;
}

.burger__btn > span::before {
    content: '';
    top: -4px;
}

.burger__btn > span::after {
    content: '';
    top: 4px;
}

#nav__toggle:checked ~ .burger__btn > span {
    transform: rotate(45deg);
}

#nav__toggle:checked ~ .burger__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#nav__toggle:checked ~ .burger__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#nav__toggle:checked ~ .header__nav_mobile {
    visibility: visible;
    left: 0;
}




/*Main*/

.main{
    padding-right: 63%;
    background: center right url(img/Frame.svg) no-repeat;
    padding: 0 63% 100px 0;
}

.main__title:before {
    content: "";
    display: block;

    width: 380px;
    height: 53px;

    position: absolute;
    top: 75px;
    left: 0;
    z-index: -1;

    background-color: #C8DBFB;
    opacity: .3;
}

.main__title {
    font-family: 'Pt-serif', serif;
    font-size: 50px;

    margin-bottom: 40px;

    position: relative;

}


.main__title:after {
    content: "";
    display: block;

    width: 226px;
    height: 53px;

    position: absolute;
    top: 145px;
    left: 0;
    z-index: -1;

    background-color: #C8DBFB;
    opacity: .3;
}

.main__subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;

    margin-bottom: 41px;
}


/*Button*/

.main__btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;

    padding: 14px 16px;
    color: #fff;
    background-color: #0056EC;

    border: none;
    border-radius: 5px;

    cursor: pointer;

    transition: background-color .2s linear;
}

.main__btn:hover {
    background-color: #00389a;
}



/*===============Media=============*/


@media (max-width: 768px) {
/*===========Header===========*/
    .header {
        margin-bottom: 28px;
    }

    .logo__title {
        display: none;
    }

    .header__nav {
        display: none;
    }

    .nav__burger {
        display: block;
    }

/*===========Main===========*/

    .main {
        text-align: center;

        padding: 74% 0 0;
        background-size: 74%;
        background-position: top center;


    }

    .main__title {
        font-size: 30px;

        margin-bottom: 44px;
    }

    .main__subtitle {
        margin-bottom: 25px;
        font-size: 16px;
    }

    .main__btn {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .main__title:before,
    .main__title:after {
        display: none;
    }


    .header__nav_mobile {
        display: block;
        align-items: center;

        position: fixed;
        visibility: hidden;

        top: 0;
        left: -100%;

        width: 100%;
        height: 100%;

        margin: 0;
        padding: 80px 0;

        text-align: center;

        background-color: #fff;
    }

    .nav__link_mobile {
        display: block;
        widows: 100%;
        max-width: 150px;
        padding: 12px 24px;

        color: #000;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 30px;
    }

    .burger__btn {
        display: flex;
    }

}




















































