body {
    margin: 0;
    max-width: 1920px;
    min-width: 375px;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}


/*Container*/

.container {
    width: 68%;
    margin: auto;
}


/*Header*/

.header {
    padding-top: 40px;
    margin-bottom: 126px;
}

.header__inner {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.header__logo {
    font: 700 24px/31px 'Pt-serif';
    color: #000;
    position: relative;
    margin-left: 44px;
}

.header__logo:before,
.header__logo:after {
    position: absolute;
    content: '';
    width: 28px;
    height: 28px;
    border-radius: 50px;
}

.header__logo:before {
    background: #0056EC;
    opacity: .7;
    left: -44px;
    top: 0;
}

.header__logo:after {
    background: #C8DBFB;
    opacity: .7;
    left: -36px;
    top: 7px;
}

.header__nav {
    padding-top: 8px;
}

.nav__link {
    position: relative;
    font: 500 14px/16px 'Roboto';
    margin-right: 18px;
    text-decoration: none;
    color: #000;

    position: relative;
}

.nav__link:last-child {
    margin-right: 0;
}

.nav__link:after {
    display: block;
    content: '';

    width: 0;
    height: 3px;

    background-color: #0056EC;

    position: absolute;
    top: 100%;
    left: 0;

    transition: width .2s linear;
}

.nav__link:hover:after,
.nav__link_active:after {
    width: 100%;
}



/*=============================Burger=================*/

#menu__toggle {
    display: none;
}

.menu__btn {
    display: none;
    align-items: center;
    position: relative;
    z-index: 10000;

    top: -1px;
    right: 8px;

    width: 25px;
    height: 27px;

    cursor: pointer;

}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    content: '';
    position: absolute;

    width: 100%;
    height: 3px;

    background-color: #0056EC;
}

.menu__btn > span::before {
    top: -7px;
}

.menu__btn > span::after {
    top: 7px;
}

.main {

}

.main__inner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.main__text {
    width: 434px;
    padding-top: 15px;
}

.main__title {
    font: 700 50px/66px 'Pt-Serif';

    margin-bottom: 38px;
}

.main__subtitle {
    font: 500 18px 'Roboto', sans-serif;

    margin-bottom: 40px;

    width: 367px;
}

.main__title span {
    background: #ECF3FF;
}

.main__photo img{
    width: 100%;
    height: auto;
}

/*Button*/

.btn__content {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.btn__content:before,
.btn__content:after {
    content: '';
    position: absolute;

    border: 2px solid red;

    width: 50px;
    height: 50px;

    top: -5px;
    left: 40%;

    transition: all .6s ease 0s;

    z-index: 1;
}

.btn__content:before {
    animation: rotate 25s linear infinite;
}

.btn__content:after {
    animation: rotate 22s linear infinite;
}

.btn__content:hover:before,
.btn__content:hover:after {
    left: 100%;
    opacity: 0;
}

.main__btn {
    display: flex;
    position: relative;

    font: 500 14px 'Roboto', sans-serif;

    padding: 14px 21px;
    color: rgba(0, 0, 0, .3);

    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;

    transition: all .7s ease 0s;

    top: 0;
}

.main__btn:before,
.main__btn:after {
    content: '';
    position: absolute;
    top: 0;

    width: 50%;
    height: 100%;

    background-color: #eee;

    transition: all .6s ease 0s;
}

.main__btn:before {
    left: 0;
    z-index: 2;
}
.main__btn:after {
    right: 0;
}

.main__btn span {
    z-index: 2;
}

.btn__content:hover .main__btn:before {
    width: 100%;
}

.btn__content:hover .main__btn {
    color: #fff;
    box-shadow: 0 5px 0 0 #002c79;
    top: -10px;
}

.btn__content:active .main__btn {
    top: -5px;
    box-shadow: 0 2px 0 #002c79;
    transition: all .1s ease 0s;

}

.btn__content:hover .main__btn:before,
.btn__content:hover .main__btn:after {
    background-color: #0056EC;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}



@media(min-width: 1920px) {
    .container {
        width: 80%;
    }

    .header {
        margin-bottom: 160px;
    }

    .header__nav {
        padding-right: 10px;
    }

    .nav__link {
        font-size: 18px;
        margin-right: 17px;
    }

    .main__text {
        width: 567px;
        margin-right: 193px;

        padding-top: 88px;
    }

    .main__title {
        font-size: 66px;
        line-height: 87px;
    }

    .main__subtitle {
        width: 455px;
        font-size: 22px;
        line-height: 25px;
    }

    .main__btn {
        font-size: 18px;
        padding: 19px 30px;
    }

    .btn__content:before,
    .btn__content:after {
        width: 70px;
        height: 70px;
    }

    .main__photo {
        width: 770px;
        height: auto;

        padding-top: 10px;
    }
}


@media(max-width: 1024px) {
    .container {
        width: 91%;
    }

    .header {
        margin-bottom: 100px;
    }

    .header__nav {
        padding-right: 0;
    }

    .nav__link {
        font-size: 14px;
    }

    .main__text {
        width: 580px;
        padding-top: 42px;

        margin-right: 0;
    }

    .main__title {
        font-size: 50px;
        line-height: 66px;
    }

    .main__subtitle {
        font-size: 18px;
        line-height: 21px;

        width: 350px;
    }

    .main__btn {
        padding: 15px 21px;
        font-size: 14px;
    }

    .btn__content:before,
    .btn__content:after {
        width: 55px;
        height: 55px;
    }

    .main__photo {
        padding-top: 25px;
        width: 720px;
    }
}

@media(max-width: 768px) {
    .container {
        width: 70%;
    }

    .header {
        margin-bottom: 20px;
    }

     .logo__title {
        display: none;
    }

    .header__inner {
        align-items: flex-start;
    }

    .header__nav {
        display: none;
    }

    .main {
        text-align: center;
    }

    .main__inner {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .main__title {
        font-size: 30px;
        margin-bottom: 32px;
    }

    .main__subtitle {
        font-size: 16px;
        margin: 0 auto 39px;

        width: 360px;
    }

    .main__photo {
        width: 90%;
    }

/*=========================================Burger===========*/
    .menu__btn {
        display: flex;
    }

    .nav__link {
        margin-right: 0;
    }

    .header__nav_mobile {
        display: block;
        position: fixed;
        visibility: hidden;

        padding-top: 150px;

        top: 0;
        left: 100%;

        text-align: center;

        width: 100%;
        height: 100%;

        background-color: #fff;
        z-index: 1000;
    }

    .nav__link_mobile {
        display: block;
        width: 244px;
        height: 30px;

        margin: 50px auto;
        font-size: 50px;
        font-weight: 600;
    }

    .nav__link_mobile:last-child {
        margin: 24px auto;
    }


    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .header__nav_mobile {
        visibility: visible;
        left: 0
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        transition-duration: .25s;
    }

    .header__nav_mobile {
        transition-duration: .25s;
    }
}


@media(max-width: 375px) {
    .container {
        width: 87%;
    }

    .header {
        padding-top: 24px;
        margin-bottom: 0;
    }

    .header__nav_mobile {
        padding-top: 166px;
    }

    .nav__link_mobile {
        font-size: 30px;
        margin: 30px auto;
        width: 150px;
    }

    .menu__btn {
        top: 3px;
        right: 0;
    }

    .main {
        padding-top: 10px;
    }

    .main__text {
        width: 100%;

        padding-top: 0;
    }

    .main__title {
        line-height: 40px;
        padding-top: 16px;
    }

    .main__subtitle {
        width: 240px;
        line-height: 18px;
        margin-bottom: 27px;
    }

    .main__photo img {
        width: 96%;
    }



}













